# Virtual environment
venv/
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo

# Sensitive information
.env

# Generated data
data/processed/*.csv
data/csv_files/
markitdown_output/

# Distribution / packaging
dist/
build/
*.egg-info/

# Temporary files
.DS_Store
.ipynb_checkpoints
*.swp
*.swo

# Log files
*.log

# Local development
.idea/
.vscode/

# Environment variables
.env
